<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" data-th-action="@{/users/user}">
        <input placeholder="name" type="text" name="name">
        <br>
        <input placeholder="email" type="email" name="email">
        <br>
        <input placeholder="phone" type="tel" name="phone">
        <br>
        <button type="submit">Submit</button>
        </form>
</body>
</html>